# MATLAB trained RL agents / checkpoints
rlKinova_marsRover_fluent_via_files/trained_agents/

glass_liquid_sloshing_simulink/cleanup-*
glass_liquid_sloshing_simulink/fluent-*
glass_liquid_sloshing_simulink/libudf
glass_liquid_sloshing_simulink/log

glass_liquid_sloshing_simulink/vessel-res-2/cleanup-*
glass_liquid_sloshing_simulink/vessel-res-2/fluent*
glass_liquid_sloshing_simulink/vessel-res-2/libudf

glass_liquid_sloshing_simulink/vessel-res-3/cleanup-*
glass_liquid_sloshing_simulink/vessel-res-3/fluent*
glass_liquid_sloshing_simulink/vessel-res-3/libudf

glass_liquid_sloshing_simulink/vessel-res-4/cleanup-*
glass_liquid_sloshing_simulink/vessel-res-4/fluent*
glass_liquid_sloshing_simulink/vessel-res-4/libudf

glass_liquid_sloshing_simulink/vessel-res-7/cleanup-*
glass_liquid_sloshing_simulink/vessel-res-7/fluent*
glass_liquid_sloshing_simulink/vessel-res-7/libudf

rlKinova_marsRover_fluent_via_files/data/work_dir
rlKinova_marsRover_fluent_via_files/logs
rlKinova_marsRover_fluent_via_files/savedSims

.idea/

# Generated animation frames
glass_liquid_sloshing_simulink/vessel-res-2/animations/
rlKinova_marsRover_fluent_via_files/data/output/

# Videos
*.mp4
*.avi
*.mkv
